.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    margin-left: 10px;
    padding: 20px;
    gap: 10px;
    background-color: gainsboro;
    border: 0.2px gray;
    border-radius: 5px;
}

.subtotal button{
    background-color: #243733;
    border: 0.2px #27816e solid;
    border-radius: 3px;
    padding: 10px;
    color: white;
    margin-top: 20px;
}

.subtotal small{
    font-size: medium;
}

.subtotal_gift input{
    margin-right: 10px;
}

.subtotal p{
    font-size: 25px;
    font-weight: 500;
}
